.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 35px;
  height: 100vh;
}

.App-title {
  font-size: 50px;
}

.Clock-days,
.Clock-hours,
.Clock-hours,
.Clock-minutes,
.Clock-seconds {
  display: inline;
  margin: 10px;
}

.date-input {
  border: 3px solid black;
  color: white;
  border-radius: 5px;
  margin: 1.8rem;
  font-size: 1.5rem;
  width: 18rem;
  height: 2.5rem;
  background: black;
  outline: none;
}

.date-input:hover {
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(190, 191, 191);
  background: radial-gradient(
    circle,
    rgba(190, 191, 191, 1) 0%,
    rgba(0, 0, 0, 1) 80%
  );
  color: white;
  font-family: "Roboto", sans-serif;
  text-shadow: 6px -1px 17px black, 4px 1px 16px black;
}

.btn {
  color: white;
  background: black;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  height: 2.2rem;
  width: 4.4rem;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  border: 2px solid white;
  transform: scale(1.2);
}
